{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div>
        <h1>考试须知</h1>
        <hr>
        <div></div>
        <h2>考试时间:2017年11月18日-2017年11月25日</h2>
        <br>
        <h5>一. 本考试为浙江大学学生E志者协会组织的2017年度精品课程的期中考试，考试时间共20分钟，超时后虽可提交但是分数不计入</h5>
        <h5>二. 考试题型为10道选择题,单选,每道10分</h5>
        <h5>三. 每一题在输入答案之后,需要点按确认键提交当前答案,每道题的答案可以重复提交,所有问题填写完成后按提交键提交所有答案,如果有问题没有回答将会直接返回未回答问题</h5>
        <h5>四. 提交之后可以直接获取考试成绩</h5>
        <h5>五. 每人只有一次考试机会,点按提交按钮视作考试结束</h5>
        <h5>六. 如果因浏览器等问题退出,只要未最终提交都可以再次登录</h5>
        <h5>七. 祝大家考试顺利</h5>
        <h5>八. 本次考试占总评的十分</h5>
        </div>
    <br>
    <br>
    <br>

    </div>
 <div style="text-align: center;margin-bottom: 50px">
        <a type="button" class="btn btn-large btn-info" href="{{ url_for('main.record',page=1 )}}">进入考试</a>
    </div>
{% endblock %}