{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div>
    <h2>已经答题的人数：{{have_done}}</h2></div>
    <div><h2>未答题的人数：{{not_done}}</h2></div>
    <table class="table">
	<caption>成绩导出页面</caption>
   <thead>
      <tr>
<th>序号</th>
          <th>学号</th>
          <th>分数</th>
           <th>考试日期</th>
          <th>考试开始时间</th>
<th>考试结束时间</th>
<th>sec</th>
      </tr>
   </thead>
   <tbody>
   {% for i in dict1 %}
    <tr>

<td>{{ dict1.index(i)+1 }}</td>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ dict4[i[0]] }}</td>
        <td>{{ dict2[i[0]] }}</td>
        <td>{{ dict3[i[0]] }}</td>
        <td>{{ dict5[i[0]] }}</td>
    </tr>

{% endfor %}


   </tbody>
</table>
    <div class="col-md-6">
    </div>

{% endblock %}