{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div>
    <h2>已经答题的人数：{{have_done}}</h2></div>
    <div><h2>未答题的人数：{{not_done}}</h2></div>
    <table class="table">
	<caption>成绩导出页面</caption>
   <thead>
      <tr>

          <th>学号</th>
          <th>分数</th>
      </tr>
   </thead>
   <tbody>
{% for key, value in dict1.iteritems() %}
    <tr>
        <td>{{ key|e }}</td>
        <td>{{ value|e }}</td>
    </tr>

{% endfor %}


   </tbody>
</table>
    <div class="col-md-6">
    </div>

{% endblock %}