{% extends "bootstrap/base.html" %}


{% block title %}E志者精品课程考试平台{% endblock %}


{% block head %}
{{ super() }}
<script>
    function mytime() {
        var a = new Date();
        var b = a.toLocaleTimeString();
        var c = a.toLocaleDateString();
        document.getElementById("time1").innerHTML = c + "&nbsp" + b;
    }
    setInterval(function () {
        mytime()
    }, 1000);
</script>
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
      type="image/x-icon">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">浙江大学学生E志者协会</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index',page=1) }}">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.logout') }}">登出</a></li>
                <li><a href="{{ url_for('main.out') }}">成绩</a></li>
                {% else %}
                <li><a href="{{ url_for('main.register') }}">注册</a></li>
                <li><a href="{{ url_for('main.login') }}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>
<div class="container">
    <footer class="footer">
        <div class="container">
            <p class="text-center">浙江大学学生E志者协会 </p>
            <p class="text-center">Copyright© 2017 Electrical Volunteer Association of ZJU All Rights Reserved. </p>
        </div>
        <div><p id="time1" style="color: #434F77;" class="text-center"></p></div>
    </footer>
</div>
{% endblock %}
